{% extends 'accounting/base.html' %} {% block title %}
<title>
    Sample homepage
</title>

{% endblock %} {% block content %}

<!-- Sidenav -->
{% include 'accounting/nav-bar.html' %}
<!-- Main content -->
<div class="main-content" id="panel">
    <!-- Topnav -->
    {% include 'accounting/top-nav-bar.html' %}
    <!-- Header -->
    <!-- Header -->
    <div class="header pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <h6 class="h2 d-inline-block mb-0">Price Profile</h6>
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links">
                                <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="/">Dashboards</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Price Profile</li>
                            </ol>
                        </nav>
                    </div>
                    <!-- <div class="col-lg-6 col-5 text-right">
                        <a href="#" class="btn btn-sm btn-neutral">New</a>
                        <a href="#" class="btn btn-sm btn-neutral">Filters</a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <!-- Page content -->
    <div class="panel-body">
        <div id="ember4912" class="panel panel-primary ember-view">
            <div id="ember4913" class="paging-buttons ember-view">

                <!---->
            </div>
            <table class="table">
                <tr class="table-header">
                    <th>Name</th>
                    <th>Discount Amount</th>
                    <th>Discount Percentage</th>
                    <th>Set Fee</th>
                    <!---->
                </tr>
                <tr class="clickable" data-ember-action="" data-ember-action-4916="4916">
                    <td class="pricing-profile-name">UMERA SALIM MEVEKARI</td>
                    <td>2000</td>
                    <td>10</td>
                    <td>500</td>
                    <!---->
                </tr>
                <tr class="clickable" data-ember-action="" data-ember-action-4917="4917">
                    <td class="pricing-profile-name">CBC</td>
                    <td>100</td>
                    <td>12</td>
                    <td>400</td>
                    <!---->
                </tr>
                <tr class="clickable" data-ember-action="" data-ember-action-4918="4918">
                    <td class="pricing-profile-name">RBS</td>
                    <td></td>
                    <td></td>
                    <td>100</td>
                    <!---->
                </tr>
                <tr class="clickable" data-ember-action="" data-ember-action-4919="4919">
                    <td class="pricing-profile-name">WIDAL TEST</td>
                    <td></td>
                    <td></td>
                    <td>300</td>
                    <!---->
                </tr>
                <tr class="clickable" data-ember-action="" data-ember-action-4920="4920">
                    <td class="pricing-profile-name">Rutuja Gavali</td>
                    <td>90</td>
                    <td>10</td>
                    <td>100</td>
                    <!---->
                </tr>
                <tr class="clickable" data-ember-action="" data-ember-action-4921="4921">
                    <td class="pricing-profile-name">Covishield Vaccine</td>
                    <td></td>
                    <td>5</td>
                    <td>1200</td>
                    <!---->
                </tr>
                <tr class="clickable" data-ember-action="" data-ember-action-4922="4922">
                    <td class="pricing-profile-name">CBC</td>
                    <td>100</td>
                    <td>10</td>
                    <td>400</td>
                    <!---->
                </tr>
                <tr class="clickable" data-ember-action="" data-ember-action-4923="4923">
                    <td class="pricing-profile-name">LIPID PROFILE</td>
                    <td></td>
                    <td></td>
                    <td>1000</td>
                    <!---->
                </tr>
                <tr class="clickable" data-ember-action="" data-ember-action-4924="4924">
                    <td class="pricing-profile-name">RA</td>
                    <td>1</td>
                    <td>1</td>
                    <td>300</td>
                    <!---->
                </tr>
                <tr class="clickable" data-ember-action="" data-ember-action-4925="4925">
                    <td class="pricing-profile-name">Analsis</td>
                    <td>10</td>
                    <td>2</td>
                    <td>1000</td>
                    <!---->
                </tr>
                <tr class="clickable" data-ember-action="" data-ember-action-4926="4926">
                    <td class="pricing-profile-name">PULSE 90%</td>
                    <td>900</td>
                    <td>30</td>
                    <td>200</td>
                    <!---->
                </tr>
                <tr class="clickable" data-ember-action="" data-ember-action-4927="4927">
                    <td class="pricing-profile-name">ECO CARD</td>
                    <td></td>
                    <td>10</td>
                    <td>500</td>
                    <!---->
                </tr>
                <tr class="clickable" data-ember-action="" data-ember-action-4928="4928">
                    <td class="pricing-profile-name">Surgery</td>
                    <td></td>
                    <td></td>
                    <td>50000</td>
                    <!---->
                </tr>
                <tr class="clickable" data-ember-action="" data-ember-action-4929="4929">
                    <td class="pricing-profile-name">jubilee</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <!---->
                </tr>

                <tr class="clickable" data-ember-action="" data-ember-action-4932="4932">
                    <td class="pricing-profile-name">Sample data</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <!---->
                </tr>
                <tr class="clickable" data-ember-action="" data-ember-action-4933="4933">
                    <td class="pricing-profile-name">Sample data</td>
                    <td>25</td>
                    <td>5</td>
                    <td>100</td>
                    <!---->
                </tr>
                <tr class="clickable" data-ember-action="" data-ember-action-4934="4934">
                    <td class="pricing-profile-name">Sample data</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <!---->
                </tr>
                <tr class="clickable" data-ember-action="" data-ember-action-4936="4936">
                    <td class="pricing-profile-name">Student</td>
                    <td>5</td>
                    <td>100</td>
                    <td>1000</td>
                    <!---->
                </tr>
                <tr class="clickable" data-ember-action="" data-ember-action-4937="4937">
                    <td class="pricing-profile-name">Covishield </td>
                    <td>50</td>
                    <td>5</td>
                    <td>800</td>
                    <!---->
                </tr>

                <tr class="clickable" data-ember-action="" data-ember-action-4940="4940">
                    <td class="pricing-profile-name">Employee</td>
                    <td></td>
                    <td>85</td>
                    <td></td>
                    <!---->
                </tr>
            </table>

        </div>
    </div>
</div>
<!-- Argon Scripts -->
{% include 'accounting/footer-script.html' %} {% endblock %}