{% extends 'accounting/base.html' %} {% block title %}
<title>
    Sample homepage
</title>

{% endblock %} {% block content %}

<!-- Sidenav -->
{% include 'accounting/nav-bar.html' %}
<!-- Main content -->
<div class="main-content" id="panel">
    <!-- Topnav -->
    {% include 'accounting/top-nav-bar.html' %}
    <!-- Header -->
    <!-- Header -->
    <div class="header pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <h6 class="h2 d-inline-block mb-0">Price</h6>
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links">
                                <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="/">Dashboards</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Price</li>
                            </ol>
                        </nav>
                    </div>
                    <!-- <div class="col-lg-6 col-5 text-right">
                        <a href="#" class="btn btn-sm btn-neutral">New</a>
                        <a href="#" class="btn btn-sm btn-neutral">Filters</a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
        <div class="panel-body">
            <div id="ember4279" class="panel panel-primary ember-view">
                <div id="ember4280" class="paging-buttons ember-view">

                    <!---->
                </div>
                <table class="table">
                    <tr class="table-header">
                        <th>Category</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Type</th>
                        <th>Expense To</th>
                        <!---->
                    </tr>
                    <tr class="clickable" data-ember-action="" data-ember-action-4284="4284">
                        <td>Imaging</td>
                        <td class="price-name">Cardio VAscular </td>
                        <td>8500</td>
                        <td>Imaging Procedure</td>
                        <td></td>
                        <!---->
                    </tr>
                    <tr class="clickable" data-ember-action="" data-ember-action-4286="4286">
                        <td>Imaging</td>
                        <td class="price-name">chest x ray </td>
                        <td>350</td>
                        <td>Imaging Procedure</td>
                        <td></td>
                        <!---->
                    </tr>
                    <tr class="clickable" data-ember-action="" data-ember-action-4288="4288">
                        <td>Imaging</td>
                        <td class="price-name">Chest X-ray</td>
                        <td>700</td>
                        <td></td>
                        <td></td>
                        <!---->
                    </tr>
                    <tr class="clickable" data-ember-action="" data-ember-action-4290="4290">
                        <td>Imaging</td>
                        <td class="price-name">chest xry</td>
                        <td>350</td>
                        <td></td>
                        <td>lab1</td>
                        <!---->
                    </tr>
                    <tr class="clickable" data-ember-action="" data-ember-action-4292="4292">
                        <td>Imaging</td>
                        <td class="price-name">Covid</td>
                        <td>4000</td>
                        <td>Imaging Procedure</td>
                        <td></td>
                        <!---->
                    </tr>
                    <tr class="clickable" data-ember-action="" data-ember-action-4294="4294">
                        <td>Imaging</td>
                        <td class="price-name">covid -19</td>
                        <td>800</td>
                        <td>Imaging Procedure</td>
                        <td>xxybz</td>
                        <!---->
                    </tr>
                    <tr class="clickable" data-ember-action="" data-ember-action-4296="4296">
                        <td>Imaging</td>
                        <td class="price-name">COVID-19</td>
                        <td>4500</td>
                        <td></td>
                        <td></td>
                        <!---->
                    </tr>
                    <tr class="clickable" data-ember-action="" data-ember-action-4298="4298">
                        <td>Imaging</td>
                        <td class="price-name">Covid-19 Test</td>
                        <td>8000</td>
                        <td></td>
                        <td></td>
                        <!---->
                    </tr>
                    <tr class="clickable" data-ember-action="" data-ember-action-4300="4300">
                        <td>Imaging</td>
                        <td class="price-name">CT Abdomen</td>
                        <td>1000</td>
                        <td>Imaging Procedure</td>
                        <td></td>
                        <!---->
                    </tr>
                    <tr class="clickable" data-ember-action="" data-ember-action-4302="4302">
                        <td>Imaging</td>
                        <td class="price-name">CT Abdomen PA</td>
                        <td>2000</td>
                        <td>Imaging Procedure</td>
                        <td></td>
                        <!---->
                    </tr>
                    <tr class="clickable" data-ember-action="" data-ember-action-4304="4304">
                        <td>Imaging</td>
                        <td class="price-name">CT ANGIO</td>
                        <td>1000</td>
                        <td>Imaging Procedure</td>
                        <td></td>
                        <!---->
                    </tr>
                    <tr class="clickable" data-ember-action="" data-ember-action-4306="4306">
                        <td>Imaging</td>
                        <td class="price-name">CT Head</td>
                        <td>2500</td>
                        <td>Imaging Procedure</td>
                        <td>RAD</td>
                        <!---->
                    </tr>
                    <tr class="clickable" data-ember-action="" data-ember-action-4308="4308">
                        <td>Imaging</td>
                        <td class="price-name">CT Scan</td>
                        <td></td>
                        <td>Imaging Procedure</td>
                        <td></td>
                        <!---->
                    </tr>
                    <tr class="clickable" data-ember-action="" data-ember-action-4310="4310">
                        <td>Imaging</td>
                        <td class="price-name">CT Scan</td>
                        <td>10000</td>
                        <td>Imaging Procedure</td>
                        <td></td>
                        <!---->
                    </tr>
                    <tr class="clickable" data-ember-action="" data-ember-action-4312="4312">
                        <td>Imaging</td>
                        <td class="price-name">Cxr</td>
                        <td>900</td>
                        <td>Imaging Procedure</td>
                        <td></td>
                        <!---->
                    </tr>
                    <tr class="clickable" data-ember-action="" data-ember-action-4314="4314">
                        <td>Imaging</td>
                        <td class="price-name">DDD</td>
                        <td></td>
                        <td>Imaging Procedure</td>
                        <td></td>
                        <!---->
                    </tr>
                    <tr class="clickable" data-ember-action="" data-ember-action-4316="4316">
                        <td>Imaging</td>
                        <td class="price-name">dermatoscopy</td>
                        <td></td>
                        <td>Imaging Procedure</td>
                        <td></td>
                        <!---->
                    </tr>
                    <tr class="clickable" data-ember-action="" data-ember-action-4318="4318">
                        <td>Imaging</td>
                        <td class="price-name">dev_image</td>
                        <td>1000</td>
                        <td>Imaging Procedure</td>
                        <td></td>
                        <!---->
                    </tr>
                    <tr class="clickable" data-ember-action="" data-ember-action-4320="4320">
                        <td>Imaging</td>
                        <td class="price-name">Dhanshri Yadav</td>
                        <td>50</td>
                        <td>Imaging Procedure</td>
                        <td>20</td>
                        <!---->
                    </tr>

                </table>

            </div>
        </div>
        <!-- Footer -->
        {% include 'accounting/footer.html' %}
    </div>
</div>
<!-- Argon Scripts -->
{% include 'accounting/footer-script.html' %} {% endblock %}