{% extends 'reception/base.html' %} {% block title %}
<title>
    Sample homepage
</title>

{% endblock %} {% block content %}

<!-- Sidenav -->
{% include 'reception/nav-bar.html' %}
<!-- Main content -->
<div class="main-content" id="panel">
    <!-- Topnav -->
    {% include 'reception/top-nav-bar.html' %}
    <!-- Header -->
    <!-- Header -->
    <div class="header pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <h6 class="h2 d-inline-block mb-0">Patients</h6>
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links">
                                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="#">Dashboards</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Patients</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-lg-6 col-5 text-right">
                        <a href="#" class="btn btn-sm btn-neutral">New</a>
                        <a href="#" class="btn btn-sm btn-neutral">Filters</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
        <div class="table-responsive">
            <div>
                <table class="table align-items-center table-dark">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col" class="sort" data-sort="name">Full Name</th>
                            <th scope="col" class="sort" data-sort="budget">Age</th>
                            <th scope="col" class="sort" data-sort="status">Sex</th>
                            <th scope="col">Weight</th>
                            <th scope="col" class="sort" data-sort="completion">Blood Pressure</th>
                            <th scope="col">Phone Number</th>
                            <th scope="col">Remove</th>
                        </tr>
                    </thead>
                    <tbody class="list">
                        {% for i,j,k,l,m,n in data %}
                        <tr>
                            <th scope="row">
                                <div class="media align-items-center">
                                    {{i}}
                                </div>
                            </th>
                            <td class="budget">
                                {{j}}
                            </td>
                            <td>
                                <span class="badge badge-dot mr-4">
                                    {% if k|lower == 'male' %}
                                        <i class="bg-primary"></i>
                                    {% else %}
                                        <i class="bg-success"></i>
                                    {% endif %}
                                    <span class="status">{{k}}</span>
                                </span>
                            </td>
                            <td>
                                {{l}}
                            </td>
                            <td>
                                {{m}}
                            </td>
                            <td>
                                {{n}}
                            </td>
                            <td>
                                <a href="#">delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>

        {% include 'reception/footer.html' %}
    </div>
</div>
<!-- Argon Scripts -->
{% include 'reception/footer-script.html' %} {% endblock %}