{% extends 'nurse/base.html' %} {% block title %}
<title>
    Sample homepage
</title>

{% endblock %} {% block content %}

<!-- Sidenav -->
{% include 'nurse/nav-bar.html' %}
<!-- Main content -->
<div class="main-content" id="panel">
    <!-- Topnav -->
    {% include 'nurse/top-nav-bar.html' %}
    <!-- Header -->
    <!-- Header -->
    <div class="header pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <h6 class="h2 d-inline-block mb-0">Report Incident</h6>
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links">
                                <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="/">Dashboards</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Report Incident</li>
                            </ol>
                        </nav>
                    </div>
                    <!-- <div class="col-lg-6 col-5 text-right">
                        <a href="#" class="btn btn-sm btn-neutral">New</a>
                        <a href="#" class="btn btn-sm btn-neutral">Filters</a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
        <div class="row justify-content-center">
            <div class="col-lg-8 card-wrapper ct-example">


                <!-- Sizes -->
                <div class="card">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h3 class="mb-0">Report Incident</h3>
                            </div>
                            <!-- <div class="col-4 text-right">
                                <a href="#!" class="btn btn-sm btn-primary">Settings</a>
                            </div> -->
                        </div>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="pl-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label">Patient Name</label>
                                    <input class="form-control" placeholder="Patient Name" required>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label" for="exampleFormControlSelect132">Sex</label>
                                    <select class="form-control" id="exampleFormControlSelect132" required>
                                        <option value="">------</option>
                                        <option value="m">Male</option>
                                        <option value="f">Female</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label" for="exampleFormControlSelect12">Department</label>
                                    <select class="form-control" id="exampleFormControlSelect12" required>
                                    <option value="">------</option>
                                    <option value="m">ICU</option>
                                    <option value="f">NOT ICU</option>
                                </select>
                                </div>
                                <div>

                                    <div class="col">
                                        <div class="form-group">
                                            <label class="form-control-label">Start Date</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                                                </div>
                                                <input required class="form-control" placeholder="Start date" type="text" value="06/18/2021">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label class="form-control-label">End Date</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                                                </div>
                                                <input required class="form-control" placeholder="End date" type="text" value="06/22/2021">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">Description</label>
                                    <textarea rows="4" class="form-control" placeholder="Description" required></textarea>
                                </div>
                            </div>
                            <input type="submit" value="Generate Report" class="btn btn-primary">
                        </form>
                    </div>
                </div>

            </div>
        </div>
        <!-- Footer -->
        {% include 'nurse/footer.html' %}
    </div>
</div>
<!-- Argon Scripts -->
{% include 'nurse/footer-script.html' %} {% endblock %}